.popup {
    position: absolute;
    top: 40px;
    right: 50%;

    width: 140px;
    max-width: 200px;
    max-height: 300px;
    border-radius: 10px 0 10px 10px;

    background-color: #00a884;
    overflow: hidden;

    .list {
        width: 160px;
        max-height: 300px;
        margin: 0;
        padding: 0;

        list-style-type: none;
        box-sizing: content-box;

        overflow-y: scroll;

        .item {
            padding: 10px;
            padding-right: 17px;
            font-weight: 400;
            word-wrap: break-word;
            border-bottom: 1px solid #02cba0;

            &:last-child {
                border: none;
            }

            &:hover {
                background-color: #02cba0;
            }
        }
    }
}