.add {
    display: flex;
    width: 40px;
    padding: 8px;
    background-color: inherit;
    border: none;
    outline: none;

    &:focus,
    &:hover {
        border: none;
        outline: none;
    }
}