.tooltip{
    position: relative;

    .content {
        position: absolute;
        background-color: #333333; 
        color: #FFFFFF; 
        font-size: 14px; 
        line-height: 20px; 
        font-weight: 400; 
        text-transform: none; 
        padding: 14px;
        border-radius: 10px; 
        width: max-content; 
        max-width: 220px;
        top: 130%; 
        left: 50%; 
        transform: translateX(-50%); 

        &::before{
            content: '';
            position: absolute; 
            top: -12px;
            left: 50%;
            border: 6px solid transparent; 
            border-bottom: 6px solid #333333;
        }
    }
}
